* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.button-input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 650;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: 0.3s;
}

.button-input-file:hover {
  opacity: 0.8;
  cursor: pointer;
}
